include setup.py
include zac/VERSION
include zac/util/*
include zac/data/sen2cloud_detector.pkl
include zac/data/.earthdata_auth
include zac/spectral_mapping/*
include zac/tests/*.py
include zac/tests/aoi.geojson
include zac/tests/s2_flists.txt
include zac/emus/*
